.link-to-ctu {
  text-decoration: none;
}

.link-to-ctu:hover {
  color: #fff !important;
}

.title-home {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #0d6efd;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 5.5s steps(40, end) infinite,
    blink-caret 0.75s step-end infinite;
  padding-bottom: 5px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #0d6efd;
  }
}
