.fa-plus-circle,
.fa-minus-circle {
  cursor: pointer;
  display: inline-block;
}

.fa-plus-circle {
  margin-left: 5px;
}

.fa-minus-circle {
  margin-right: 5px;
}

.table-responsive-sm {
  max-height: 70vh;
  overflow: hidden;
}

.btn-remove:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

.cartPage-wrapper {
  padding-top: 88px;
  background-color: var(--background-color);
}

.table-container > .nav-tabs .nav-link.active {
  background-color: var(--background-color) !important;
}
.table-container {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: var(--group-box-color);
  min-height: 300px;
}

.cart-table {
  box-shadow: 0 0 0 2px var(--primary-color), 8px 8px 0 0 var(--primary-color);
  border-radius: 10px;
  max-height: 493px;
  overflow-y: scroll;
}

.cart-table::-webkit-scrollbar {
  border-radius: 20px;
  width: 7px;
  background-color: #ffd8a9;
}

.cart-table::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #f1a661;
}
