.category-page-container {
  min-height: 90vh;
}

.category-banner-container {
  height: 120px;
  background-color: #ffbd3e;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
