.search-bar {
  outline: none;
  border: none;
}

.search-box {
  border: 1px solid #000000fb;
  border-radius: 20px;
  padding: 3px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  right: 20px;
  top: 95px;
  background-color: #fff;
}

.search-box:hover {
  opacity: 1;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-property: transform;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transform: scale(1.1);
}

.search-btn {
  margin-bottom: 2px;
}

.container-listbook {
  position: relative;
  padding: 52px 0;
  min-height: calc(100vh - 52px);
}

.filters-container > .nav-tabs .nav-link.active {
  background-color: var(--background-color) !important;
}

.filters-container {
  background-color: var(--background-color);
}

.listbook-wrapper {
  background-color: var(--background-color);
}
.listbook-title {
  font-size: 2.5em;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(var(--primary-color), var(--primary-color));
  background-size: 100% 6px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
}

.listbook-title:hover {
  padding: 0 10px;
  border-radius: 10px;
  color: white;
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position 0.7s, background-size 0.5s ease-in-out;
}
