.images-preview-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
  gap: 10px;
  margin-top: 40px;
}

.image-preview {
  width: 100px;
  display: inline-block;
  position: relative;
}

.image-preview img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.image-preview i,
.remove-img-spinner {
  position: absolute;
  top: -12px;
  left: -12px;
  font-size: 20px;
  cursor: pointer;
}

.image-preview i:hover {
  color: orange;
}

.new-product__image--container {
  background-image: url(https://res.cloudinary.com/dvvg4xwoy/image/upload/v1679753599/332480986_1361693997953826_476625999413661845_n.jpg_evunah.jpg);
  height: 800px;
  width: 100%;
  background-size: cover;
  border-radius: 14px;
  border: 1px solid #f0d612;
  box-shadow: rgba(235, 176, 45, 0.4) 5px 5px, rgba(235, 176, 45, 0.3) 10px 10px,
    rgba(235, 176, 45, 0.2) 15px 15px, rgba(235, 176, 45, 0.1) 20px 20px,
    rgba(235, 176, 45, 0.05) 25px 25px;
}

.edit-product__image--container {
  background-image: url(https://res.cloudinary.com/dvvg4xwoy/image/upload/v1679753408/332522007_1564875880645879_7455697277753212294_n.jpg_k1iqgf.jpg);
  height: 900px;
  width: 100%;
  background-size: cover;
  border-radius: 14px;
  border: 1px solid #f0d612;
  box-shadow: rgba(235, 176, 45, 0.4) 5px 5px, rgba(235, 176, 45, 0.3) 10px 10px,
    rgba(235, 176, 45, 0.2) 15px 15px, rgba(235, 176, 45, 0.1) 20px 20px,
    rgba(235, 176, 45, 0.05) 25px 25px;
}

.editProductPage-wrapper {
  margin-top: 58px;
  background-color: var(--background-color);
}
