.orderPage-wrapper {
  background-color: var(--background-color);
  min-height: 100vh;
  padding-top: 78px;
}

.table-wrapper {
  max-height: 78vh;
  overflow-y: scroll;
  box-shadow: 0 0 0 2px var(--primary-color), 8px 8px 0 0 var(--primary-color);
  border-radius: 10px;
  background-color: var(--group-box-color);
}

.order-title {
  padding: 5px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  color: var(--primary-color);
}

.table-wrapper::-webkit-scrollbar {
  border-radius: 20px;
  width: 7px;
  background-color: #ffd8a900;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #f1a76100;
}

.orderPage-wrapper-null {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-order-null {
  margin-left: 10px;
  margin-bottom: 16px;
  padding: 5px 10px;
  background: none;
  border: 2px solid #fff;
  font-size: 24px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: var(--primary-color);
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}

.btn-order-null:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.btn-order-null:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.btn-order-null:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.btn-order-null:active {
  transform: scale(0.9);
}
