.signup__image--container {
  background-image: url(https://res.cloudinary.com/dvvg4xwoy/image/upload/v1679712296/332491980_2169606376560965_5661876637663549876_n.jpg_ru7atz.jpg);
  height: 670px;
  width: 100%;
  background-size: cover;
  border-radius: 14px;
  border: 1px solid #f0d612;
  box-shadow: rgba(235, 176, 45, 0.4) 5px 5px, rgba(235, 176, 45, 0.3) 10px 10px,
    rgba(235, 176, 45, 0.2) 15px 15px, rgba(235, 176, 45, 0.1) 20px 20px,
    rgba(235, 176, 45, 0.05) 25px 25px;
}

.signup__form--container,
.login__form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 53px);
  justify-content: center;
}

.form-wrapper {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: var(--group-box-color);
}

.login__image--container {
  background-image: url(https://res.cloudinary.com/dvvg4xwoy/image/upload/v1679709656/332578808_1360524861429702_1758022044693307925_n.jpg_riqoys.jpg);
  height: 670px;
  width: 100%;
  background-size: cover;
  border-radius: 14px;
  border: 1px solid #f0d612;
  box-shadow: rgba(235, 176, 45, 0.4) 5px 5px, rgba(235, 176, 45, 0.3) 10px 10px,
    rgba(235, 176, 45, 0.2) 15px 15px, rgba(235, 176, 45, 0.1) 20px 20px,
    rgba(235, 176, 45, 0.05) 25px 25px;
}

.col-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: var(--background-color);
  margin-top: 53px;
}

.login-container::after {
  content: "";
  background-color: rgb(71, 67, 67);
}

@media screen and (max-width: 756px) {
  .login__image--container,
  .signup__image--container {
    display: none;
  }
}
