.signup__image--container {
  background-image: url(https://scontent.fsgn5-2.fna.fbcdn.net/v/t39.30808-6/332517829_1220884048548619_8872315104290118288_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=Ifk5dRXdWl4AX_FxBJ0&_nc_ht=scontent.fsgn5-2.fna&oh=00_AfCEpDXQCszXE2wzDE8z3c4oMZeiSI0trVpvCBJIM9DWFg&oe=6400583F);
  height: 100vh;
  background-size: cover;
}

.signup__form--container,
.login__form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.login__image--container {
  background-image: url(https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/332560183_2161817894010691_4941827759083956169_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=S5QuPIe6RZ8AX95rEY4&_nc_ht=scontent.fsgn5-9.fna&oh=00_AfBYZHp4XbIOrDxZU5G0cRM-nTXs-P3ZQrGL_tGBvTo1Lw&oe=640053FF);
  height: 100vh;
  background-size: cover;
}

@media screen and (max-width: 756px) {
  .login__image--container,
  .signup__image--container {
    display: none;
  }
}

/* home https://res.cloudinary.com/learn-code-10/image/upload/v1653947013/yqajnhqf7usk56zkwqi5.png */
/* https://res.cloudinary.com/learn-code-10/image/upload/v1654093280/xkia6f13xxlk5xvvb5ed.png sale */
