:root {
  --primary-color: #ebb02d;
  --secondary-color: #f7db6a;
  --background-color: #fef4d8;
  --group-box-color: #fbf5e3;
  --warning-color: #3d8361;
  --success-color: #7fe9de;
  --input-color: #ffffe8;
  --input-disabled: #e6e6cb;
  /* #fbf5e3 */
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Cabin", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.text-description {
  color: #858585;
}

.text-white-custom {
  color: #fff !important;
}

.form-control {
  background-color: var(--input-color) !important;
}

.form-control:disabled {
  background-color: var(--input-disabled) !important;
  color: #5e5e5e !important;
}

.title {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  padding: 5px 0;
  background-color: var(--secondary-color);
}

.modal-content {
  border: 1px solid #f0d612;
  box-shadow: rgba(235, 176, 45, 0.4) 5px 5px, rgba(235, 176, 45, 0.3) 10px 10px,
    rgba(235, 176, 45, 0.2) 15px 15px, rgba(235, 176, 45, 0.1) 20px 20px,
    rgba(235, 176, 45, 0.05) 25px 25px;
  background-color: var(--background-color) !important;
}
